body {
	font-family: Arial, "Times New Roman", sans-serif;
	background-color: burlywood;
	margin: 0;
	padding: 0;
}

h1 {
	color: #333;
	text-align: center;
	margin-top: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #007bff;
}

a:hover {
	color: red;
}
